#root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  --main-orange: #e56f0c;
  --main-white: #fdfdfd;
  --main-yellow: #f6e5d1;
  --main-blue: #2e2b46;
  --secondary-blue: #1d2545;
  --main-grey: #888888;
  --main-pink: #f34f4f;
}
header {
  justify-content: space-between;
  overflow: hidden;
  min-height: 8vh;
  max-width: 1300px;
  margin: auto;
}

.header-handler {
  box-shadow: 4px 9px 7px -6px rgb(156 156 156 / 23%);
  width: 100%;
  background-color: var(--main-white);
  margin-bottom: 1em;
  z-index: 9999;
  position: sticky;
  top: 0;
}

.header-left {
  justify-content: flex-start;
  --gap: 20px;
}
.logo-wrapper {
  --gap: 0px;
}
.logo-name {
  font-size: 2.5rem;
  color: var(--main-blue);
}
.cart-menu-icon {
  display: flex;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
}
.cart-menu-icon > div {
  color: var(--main-pink);
}
.mobile-nav-toggle {
  display: none;
  padding: 0;
}
@media (min-width: 800px) {
  .primary-navigation .active a {
    color: var(--main-pink);
    border-bottom: 1px solid var(--main-pink);
  }
}
@media (max-width: 35em) {
  .header-left {
    margin-left: 2em;
  }
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    --gap: 2.5em;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em !important;
    background: hsl(8.41deg 16.93% 84.39% / 73%);
    backdrop-filter: blur(1rem);
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-image: url("../assets/icons/hamburger-icon.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    width: 2rem;
    right: 2rem;
    z-index: 9999;
    aspect-ratio: 1;
  }
  .primary-navigation > li > a {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: var(--main-blue);
  }
  .primary-navigation > li.contact-button {
    font-size: 1.3rem;
    border: 1px solid var(--main-blue);
    background-color: transparent;
    color: var(--main-blue);
  }
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    border-radius: 0;
    background-image: url("../assets/icons/close-icon.png");
  }
}

/* UTILITY */
.flex {
  display: flex;
  align-items: center;
  gap: var(--gap, 2rem);
}
.primary-navigation {
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-navigation a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--main-blue);
}
.primary-navigation a:hover {
  color: var(--main-pink);
  border-bottom: 1px solid var(--main-pink);
}

.primary-navigation .contact-button {
  padding: 0.3em 1em;
  font-size: 1.2em;
  display: inline-block;
  background-color: var(--main-white);
  border-radius: 0px 30px;
  border: 1px solid var(--main-pink);
  color: var(--main-pink);
}
.contact-button:hover {
  border-bottom: 1px solid var(--main-pink);
}
.contact-button > a {
  color: var(--main-pink);
}
